if SHIELD_TEMPER_LEFT || SHIELD_TEMPER_RIGHT || SHIELD_TEMPER_DONGLE

config ZMK_KEYBOARD_NAME
    default "temper"

config ZMK_SPLIT
    default y

endif

# SOLO IL DONGLE DEVE ESSERE CENTRAL
if SHIELD_TEMPER_DONGLE

config ZMK_SPLIT_BLE_ROLE_CENTRAL
    default y

config ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS
    default 2

endif
